<h2>Employees</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <a
          routerLink="/employees/edit/{{ employee.id }}"
          routerLinkActive="active"
          class="edit-link"
          >Edit</a
        >
        <a
          (click)="deleteEmployee(employee.id)"
          routerLinkActive="active"
          class="delete-link"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
