<h2>Edit details</h2>
<form action="post">
  <fieldset>
    <legend>Edit details</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input type="text" id="department" name="department" />
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="number" id="salary" name="salary" />
    </div>
  </fieldset>
  <button type="submit">Submit</button>
</form>
